<!DOCTYPE html>
<html>
    <head>
        {{>styles}}
    </head>
    <body>
        {{>header}}
        <p>Get The Weather</p>
        <form>
            <input placeholder="Enter adress">
            <button>Search</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>

        {{>foother}}
        <script src='app.js'></script>
    </body>
</html>