h1 {
    color: lightslategray
}

input {
    border: 1px solid #CCCCCC;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color:white;
    padding: 8px;
}

